@media only screen and (max-width: 1400px) {
    .parent img {
        height: 166px;
        width: 165px;
    }
    .parent{
        height: 50%;
        width: 40%;
    }
}
@media only screen and (max-width: 1000px) {
    .parent{
        width: 50%;
    }
    .parent img {
        height: 145px;
        width: 145px;
    }
}
@media only screen and (max-width:870px){
    .parent{
        width: 65%;
    }
}
@media only screen and (max-width:600px){
    .parent{
        width: 80%;
    }
}
@media only screen and (max-width:500px){
    .parent{
        width: 95%;
    }
}